body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #e9f3f1;
}
html {
  position: relative;
  background-color: #dfebe854;
}

#LRPanel {
  text-align: right;
  padding-top: 15px;
  padding-bottom: 1.2em;
}

header {
  text-align: right;
  background-color: #5085a5;
}

#LRPanel a {
  max-width: 100px;
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding: 0.5em;
}

footer {
  background-color: #5085a5;
  padding: 2.2em 2.2em;
  width: 100%;
  max-height: 300px;
  bottom: 0;
  font-size: 12.5px;
  position: absolute;
  bottom: 0px;
}

#callToAction {
  text-align: center;
  margin-top: 0rem;
}

#register2 {
  color: white;
  background-color: #5085a5;
  margin-top: 30px;
}

#register2:hover {
  opacity: 0.8;
}
img {
  width: 20% !important;
  height: auto !important;
  display: block;
  margin-left: auto;
  margin-top: 1rem;
  margin-right: auto;
}

main {
  min-height: 100vh;
  padding-top: 2rem;
  background-color: #dfebe854;
}

h1 {
  padding-top: 30px;
}
