body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #dfebe854;
}
html {
  position: relative;
  background-color: #dfebe854;
}

#LRPanel {
  text-align: right;
  padding-top: 15px;
  padding-bottom: 1.2em;
}

header {
  text-align: right;
  background-color: #5085a5;
}
#LB,
#RB {
  max-width: 100px;
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding: 0.5em;
}

#navbarNav {
  text-align: left;
  color: green;
  justify-content: end;
}
#navbarUL {
  text-align: left;
}

footer {
  background-color: #5085a5;
  padding: 2.2em 2.2em;
  width: 100%;
  max-height: 300px;
  bottom: 0;
  font-size: 13px;
  position: absolute;
  bottom: 0px;
}

#main {
  padding-top: 15em;
  min-height: 100vh;
}

@media (max-width: 940px) {
  #main {
    padding-top: 100px;
  }
}
